.bg-black {
    background-color: black;
}

.pt12 {
    font-size: 12pt;
}

.no-underline {
    text-decoration: none;

}

.pre {
    white-space: pre-wrap;
}

.cursor-pointer {
    cursor: pointer;
}

.fixed_button_right {
    position: fixed;
    bottom: 150px;
    right: 50px;
    z-index: 999;
}

.fixed_button_center {
    position: fixed;
    bottom: 150px;
    right: 120px;
    z-index: 999;
}

.transparent {
    background-color: transparent;
}

.fixed_video {
    position: fixed;
    bottom: 10px;
    right: 50px;
    z-index: 800;
}