.bg-black {
    background-color: black;
}

.pt12 {
    font-size: 12pt;
}

.no-underline {
    text-decoration: none;

}

.pre {
    white-space: pre-wrap;
}

.cursor-pointer {
    cursor: pointer;
}

.fixed_button_right_20 {
    position: fixed;
    bottom: 150px;
    right: 20px;
    z-index: 999;
}

.fixed_button_right_90 {
    position: fixed;
    bottom: 150px;
    right: 90px;
    z-index: 999;
}

.fixed_button_right_160 {
    position: fixed;
    bottom: 150px;
    right: 160px;
    z-index: 999;
}

.fixed_button_right_230 {
    position: fixed;
    bottom: 150px;
    right: 230px;
    z-index: 999;
}

.fixed_button_right_300 {
    position: fixed;
    bottom: 150px;
    right: 300px;
    z-index: 999;
}

.transparent {
    background-color: transparent;
}

.fixed_video {
    position: fixed;
    bottom: 10px;
    right: 50px;
    z-index: 800;
}

.mh-100-px {
    min-height: 100px;
}